extends layout

block content-title
  h2 Events
  section#Submit
    a.button.special.big(href='/create_event') Submit Events

block content
  section#filter
    h4 Filter:
    form#eventFilter
      p Event Name:
        input#name_input(placeholder='Event Name')
      p Start Date:
        input#start_date(type='date')
      p End Date:
        input#end_date(type='date')
      button submit
  #EventList
    each event, event_id in events
      section#Events
          a(href="view/" + event_id)
              h3 #{event.name}
          p #{event.location}
          p #{event.description}
          p #{event.start_date} #{event.start_time}
          p #{event.end_date} #{event.end_time}

block append scripts
  script(src='/js/jquery.validate.min.js')
  script(src='/js/event_filter.js')