extends layout

block content-title
  h2 Events
  section#Submit
    a.button.special.big(href='/create_event') Submit Events

block content
  section#filter
    h4 Filter:
    input#name_input(placeholder='Event Name')
    input#start_date(placeholder='Start Date', type='date')
    input#start_time(placeholder='Start Time', type='time')
    ul
      li
        input.tag(type='checkbox')
        | Free
      li
        input.tag(type='checkbox')
        | Paid
      li
        input.tag(type='checkbox')
        | Music
      li
        input.tag(type='checkbox')
        | Food
  #EventList
    each event, event_id in events
      section#Events
          a(href="view/" + event_id)
              h3 #{event.name}
          p #{event.location}
          p #{event.description}
          p #{event.start_date} #{event.start_time}
          p #{event.end_date} #{event.end_time}