extends layout

block content-title
  h2 Events
  section#Submit
    a.button.special.big(href='/create_event') Submit Events

block content
  section#filter
    h4 Filter:
    p Event Name:
      input#name_input(placeholder='Event Name')
    p Start Date:
      input#start_date(placeholder='Start Date', type='date')
    p End Date:
      input#start_time(placeholder='Start Time', type='time')
  #EventList
    each event, event_id in events
      section#Events
          a(href="view/" + event_id)
              h3 #{event.name}
          p #{event.location}
          p #{event.description}
          p #{event.start_date} #{event.start_time}
          p #{event.end_date} #{event.end_time}