doctype html
html
  head
    title DragonEvents
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel='stylesheet', href='../css/main.css')
  body.landing
    // Header
    header#header.alt
      h1
        strong
          a(href='/') DragonEvents
      nav#nav
        ul
          li
            a(href='/') Home
          li
            a(href='/about') About Us
          li
            a(href='/events') Events
          li
            a(href='/login') Login
    a.navPanelToggle(href='#menu')
      span.fa.fa-bars
    // Banner
    section#banner
      h2 DragonEvents
      p
        | A website for sharing and seeing any events going near the Drexel University Campus.
      p To be part of DragonEvents:
      ul.actions
        li
          a.button.special.big(href='/login') Login
    // Three
    section#three.wrapper.style1
      .container
        header.major.special
          h2 Featured Events
          p Events hosted by business users
        .feature-grid
          .feature
            .image.rounded
              img(src='images/pic04.jpg', alt='')
            .content
              header
                each event in events
                  h4  #{event.name}
                  p  #{event.description}
                  p  #{event.start_date} #{event.start_time}
                  p  #{event.end_date} #{event.end_time}
    // Four
    section#four.wrapper.style3.special
      .container
        header.major
          h2 Drexel University Campus Map
          img(src='../images/map.JPG')
    // Footer
    footer#footer
      .container
        ul.icons
          li
            a.icon.fa-facebook(href='#')
          li
            a.icon.fa-twitter(href='#')
          li
            a.icon.fa-instagram(href='#')
        ul.copyright
          li © Untitled
          li
            | Design:
            a(href='http://templated.co') TEMPLATED
          li
            | Images:
            a(href='http://unsplash.com') Unsplash
    // Scripts
    script(src='../js/jquery.min.js')
    script(src='../js/skel.min.js')
    script(src='../js/util.js')
    script(src='../js/main.js')
    script(src='../js/gmap.js')
